<!DOCTYPE html>
<html lang = 'pt-br'>
	<head>
		<title>Compartilhador</title>
		<meta charset = 'utf-8'>
		<link rel = 'stylesheet' href = '/css/style.css'>
	</head>
	<body>
		<header id = 'cabecalho'>
			<h1>Compartilhador</h1>
			<h2>Compartilhando conhecimentos</h2>
			<nav>
				<ul>
					<li><a href = '/'>inicio</a></li>
					<li><a href = '/register'>registrar</a></li>
					<li><a href = '/login'>logar</a></li>
				</ul>
			</nav>
		</header>	