<% include header %>
<section>
	<header>
		<p>Data da postagem: <%= postar.dataPostagem %><p>
	</header>
	<article>
		<h1><%= postar.titulo %></h1>
		<p><%= postar.corpo %>
	</article>
</section>
<% include footer %>