<% include header %>
	<section>
		<form method = 'post' rele = 'form'>
			<label for = 'registerUser'>Usuario:</label>
			<input type = 'text' name = 'nameUser' required>
			<label for = 'registerPassword'>Senha:</label>
			<input type = 'password' name = 'registerPassword' required>
			<input type = 'submit' value = 'registrar'>
		</form>
	</section>
<%include footer %>