<% include header %>
<section>
	<form method = 'post' rele = 'form'>
		<input type = 'text' placeholder = "Digite o titulo." id = "titulo" name = 'titulo'>
		<textarea id = "corpo"></textarea>
		<input type = 'submit' value = "Postar"/>
	</form>
</section>
<% include footer %>